Django==5.0.7
djangorestframework==3.16.1
gunicorn==22.0.0
django-environ==0.11.2
django-cors-headers==4.4.0
psycopg2-binary==2.9.11
pymorphy3==1.2.1
pymorphy3-dicts-uk==2.4.1.1.1663094765
docx2txt==0.8
charset-normalizer==3.3.2
pandas==2.2.2
PyMuPDF
lxml
pdfplumber
django-elasticsearch-dsl
elasticsearch>=8.0.0,<9.0.0
elasticsearch-dsl>=8.0.0,<9.0.0
python-dotenv==1.0.1
django-smart-selects==1.7.2
djangorestframework-simplejwt
spacy>=3.7.0
